@media only screen and (min-width:200px) and (max-width:575px){
.btncover{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center!important;
    margin-top: 5px;
    margin-bottom: 5px;
}
}