*{
    font-family: "Inter Tight", sans-serif;
}
.wb{
border: 1px solid #27AE60;
padding: 10px 18px;
color: #27AE60;
border-radius: 5px;
}
 .wb:hover{
 border: 1px solid #27AE60;   
}
.cb{
background: linear-gradient(to right,#2699FB,#0ACEFE);
color: white;
padding: 10px 18px;
border-radius: 5px;
}
.wb i{
    color: #27AE60;
    font-size: 20px;
}
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}
.text h1{
font-weight: 700;
line-height: 68px;
}
.text ul{
 list-style: none;
     padding-left: 0rem;
     line-height: 35px;
     
}
.text ul li i{
    color: #0ACEFE;
    padding-right: 23px;
}
.text .book{
    background: linear-gradient(to right,#0ACEFE,#2699FB);
    padding: 16px 48px;
}
.text .download{
    border: 1px solid #D0D5DD;
    padding: 16px 28px;
}
.text .register {
    width: 100%;
    padding: 10px 18px;
    background: linear-gradient(to right,#0ACEFE,#2699FB);
}
.cole h1{
    font-size: 30px;font-weight: 700;color: #2699FB;
}
.cole p{
    font-size: 16px;font-weight: 400;color: #43505B;
}
.h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #43505B;

}
.p1{
     font-size: 15px;
    font-weight: 400;
  /* line-height: 26px; */
  color: #43505B;
}